$lightgrey: #F2F2F2
$darkgreyOne: #666666
$grey: #DDDDDD
$hover: #FFEECC
$active: #FFCC66
body
    margin: 0
    padding: 0
.wrapper
    display: flex
    margin: 0
    padding: 0
    min-width: 1366px
    max-width: 1920px
    height: 100%
.sidebar
    display: flex
    flex-direction: column
    width: 80px
    min-height: 100vh
    background-color: $lightgrey
    border-right: 1px solid $grey
    box-sizing: border-box
.sidebar__logo
    display: flex
    height: 60px
    width: 48px
    border-bottom: 1px solid $grey
.sidebar__link
    height: 48px
    width: 48px
    margin-top: 6px
@mixin SidebarMenu($heightMenu)
    display: flex
    flex-direction: column
    justify-content: space-between
    height: $heightMenu
.sidebar__menu
    @include SidebarMenu($heightMenu: 100%)
.sidebar__topmenu
    @include SidebarMenu($heightMenu: 180px)    
    margin-top: 10px
.sidebar__bottommenu
    @include SidebarMenu($heightMenu: 100px)    
    margin-bottom: 10px
.sidebar__icon
    display: flex
    margin: auto
.sidebar__items
    display: flex
    margin: auto
    width: 48px
    height: 48px
    border-radius: 50%
    background-color: white
    margin: auto
.sidebar__items:hover,.sidebar__items_active
    box-shadow: 0px 2px 12px rgba(34, 34, 34, 0.2) 
.sidebar__items_none
    border: none
    background-color: transparent
.sidebar__items_none:hover
    box-shadow: none
.page
    width: 100%
    height: 100%
    flex-grow: 1
.header
    height: 60px
    background-color: $lightgrey
    border-bottom: 1px solid $grey
    box-sizing: border-box
.header__menu
    display: flex
    flex-direction: row
    margin-left: 28px
    width: calc(100% - 28px)
    justify-content: space-between
.header__title
    width: 40%
    display: flex
    flex-direction: row
.page-separator
    width: 20px
    text-align: center
    margin: auto 0
.header__icons
    width: 120px
    margin-right: 34px
    display: flex
    flex-direction: row
    justify-content: space-between
.icons__item
    width: 20px
    height: 20px
    margin: auto 0
.content
    width: 100%
    height: 100%
.content__buttons
    width: calc(100% - 28px)
    height: auto
    margin-left: 28px
.button
    margin-right: 16px
.content__blocks
    width: calc(100% - 28px - 34px)
    height: inherit
    margin-left: 28px
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
.block
    width: calc(50% - 10px)
.content__title
    margin-top: 0
.columns
    display: flex
    flex-direction: row
    flex-wrap: wrap
    flex: auto
.column
    width: 50%
.article
    display: flex
    padding: 24px
    border: 1px solid $grey
    background-color: $lightgrey
.article__block
    margin-left: 12px
.article__text
    font-size: 16px
    line-height: 24px
.article__title
    margin-top: 0
.footer
    padding-top: 20px
    padding-bottom: 22px
    color: $darkgreyOne
    border-top: 1px solid $grey
    background-color: $lightgrey
    margin: auto
.footer__info
    display: flex
    flex-direction: row
    width: calc(100% - 28px)
    margin-left: 28px
.footer__links
    margin-left: 32px
    width: auto
.footer__link:last-child
    margin-left: 12px
.footer__mail
    margin-left: 32px
    width: auto
    height: 18px